* {
    font-family:'Times New Roman', Times, serif;
    

}

.ColorDeFondo{
    background-color: bisque;
}
    
div#bienvenida {
    text-align: center;
    padding: 25px;
    color: black;
    width: 100%;
}
nav.menu {
    display: flex;
    flex-direction: row;
    background-color: rgb(151, 0, 83);
}
nav ul{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
}
nav li{
    padding: 10px;
    list-style: none;
}
nav a {
    color:beige;
    text-decoration: none;
    font-size: x-large;
}
div#poema{
    color:black; 
    font-size: x-large;
    align-items: center;
    padding-top: 30px;
    padding-left: 50px   
}

p{
    text-align: justify
}

form{
    padding-bottom: 15px;

}
div#familia {
    margin-right: 50px
}

div.team-item  {
    background-color: rgb(151, 0, 83);
    margin-left: 50px
}
h4.mb-2 {
    color:bisque;
    
}

div#palabras {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 40px;
}

div#video {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    color:black; 
    font-size: x-large;
    padding:30px;
}
div#musica {
    padding-left: 50px;
}