* {
    font-family:'Times New Roman', Times, serif;
    background-color: bisque
}

div#bienvenida {
    text-align: center;
    padding: 25px;
    background-color: bisque;
    color: black;
}
nav.menu {
    display: flex;
    flex-direction: row;
    background-color: rgb(151, 0, 83);
}
nav ul{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
}
nav li{
    padding: 10px;
    list-style: none;
}
nav a {
    color:beige;
    text-decoration: none;
    font-size: x-large;
}
div#imagen1{
    color:black; 
    font-size: x-large;
    background-color: bisque;
    align-items: center;
    padding:30px;   
}
div#video1 {
    color:black; 
    font-size: x-large;
    background-color: bisque;
    padding:30px;
}
form{
    padding-bottom: 15px;

}
div#familia {
    background-color: bisque;
}
div.team-item  {
    background-color: rgb(151, 0, 83);
}
h4.mb-2 {
    color:bisque
}

div#palabras {
    display: flex;
    flex-direction: row;
}

div#video {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    margin-left: auto;
    margin-left: 40px;
}